:root {
    --gray: #727276;
    --bluelight: #E0EDFC;
    --blue: #26316f;
    --bluestrong: #005CB9;
    --redlight: #FF1066;
    --demiwhite: #fbfbfb;
    --greenlemon: #95e852;
    --yellow: #f2ba40;
}

.landing {
    background-color: #019fdc;
    height: 1000px;
    width: 100%;
}

.title_landing {
    margin-top: 120px;
    font-size: 100px;
    font-weight: bold;
}

.subtitle_landing {
    font-size: 50px;
    font-weight: normal;
    padding-left: 100px;
}

.btn_landing {
    background-color: #fa7470;
    color: white;
    margin-left: 150px;
    height: 60px;
    width: 300px;
    font-size: 30px !important;
    margin-top: 5px;
}

.image_landing {
    margin-left: 280px;
}

.services {
    background-color: #019fdc;
    ;
    height: 900px;
}

.services_prices {
    color: #ffff00;
}

.services_image {
    height: 150px;
    margin-top: 160px;
}

.btn_services {
    background-color: #fa7470;
    color: white;
    height: 60px;
    width: 300px;
    font-size: 30px !important;
    margin-top: 10px;
}

.btn_cita {
    background-color: #03254c;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 20px !important;
    margin-top: 10px;
}

.price {
    color: white;
    background-color: #fa7470;
    border-radius: 20px;
    font-size: 25px;
    padding: 5px;
}

.modal_login {
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login_image {
    height: 100px;
    margin-left: 50px;
    margin-top: 30px;
}

.title_login {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
}

input {
    width: 300px !important;
    height: 40px !important;
    margin: auto !important;    
}

input::placeholder{
font-size:12px;

}

.text_login {
    font-size: 12px;
    font-weight: normal;
}

.title_register {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.register_image {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 15px;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header .logo {
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

    .toggle.active {
        background: url(https://i.ibb.co/rt3HybH/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        cursor: pointer;
    }

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

    .showcase.active {
        right: 300px;
    }

    .showcase video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

    .text h2 {
        font-size: 5em;
        font-weight: 800;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;
    }

    .text h3 {
        font-size: 3em;
        font-weight: 700;
        color: #fff;
        line-height: 1em;
      
    }

    .text p {
        font-size: 1.1em;
        color: #fff;
        margin: 20px 0;
        font-weight: 400;
        max-width: 700px;
    }

    .text a {
        display: inline-block;
        font-size: 1em;
        background: #fff;
        padding: 10px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        color: #111;
        letter-spacing: 2px;
        transition: 0.2s;
    }

        .text a:hover {
            letter-spacing: 6px;
        }

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social li {
        list-style: none;
    }

        .social li a {
            display: inline-block;
            margin-right: 20px;
            filter: invert(1);
            transform: scale(0.5);
            transition: 0.5s;
        }

            .social li a:hover {
                transform: scale(0.5) translateY(-15px);
            }

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .menu ul {
        position: relative;
    }

        .menu ul li {
            list-style: none;
        }

            .menu ul li a {
                text-decoration: none;
                font-size: 24px;
                color: #111;
            }

                .menu ul li a:hover {
                    color: #03a9f4;
                }

@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}